.StudentList {
	margin-top: 20px;
}

.newStudentHeader {
	color: #ffffcc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#newStudentInput {
	color: #ffffcc;
}
.addbutton {
	display: flex;
	justify-content: center;
	border: #ffffcc;
	border-style: solid;
	text-align: center;
	border-radius: 12px;
}
.buttoncontainer {
	display: flex;
	justify-content: center;
}
