.StudentList {
	margin-top: 20px;
}

.newStudentHeader {
	color: #ffffcc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#newStudentInput {
	color: #336633;
}
.addbutton {
	display: flex;
	justify-content: center;
	border: #ffffcc;
	border-style: solid;
	text-align: center;
	border-radius: 12px;
	cursor: pointer;

}

#modalinput {
	color:#336633;
}

.buttoncontainer {
	display: flex;
	justify-content: center;
}
.addstudent {
	padding-top: 10px;
}
