.nav {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	height: 80px;
}

.navlogo {
	align-content: left;
	width: 60px;
	height: auto;
	margin: 10px;
}

.addbutton {
	width: 100px;
	color: #ffffcc;
}



